* {
  font-family: Poppins, sans-serif;
}

.background-purple-fullwidth {
  background-color: #4b2373;
}

.background-lightgray {
  background-color: #edebed;
}

.font-white {
  color: white;
}

.font {
  font-weight: 300;
  font-size: larger;
}

img {
  width: 100%;
  max-height: 282px;
  object-fit: cover;
}

.no-resize {
  resize: none;
}

.input-100width {
  width: 100%;
}

.margin-t5 {
  margin-top: 5px;
}

.margin-b15 {
  margin-bottom: 15px;
}

.margin-b40 {
  margin-bottom: 40px;
}

.text-end {
  text-align: end;
}

.font-weight500 {
  font-weight: 500;
}

.border-size {
  height: 35px;
}

.border {
  border-radius: 5px;
  border: 1px solid #cccbcc;
}

input[type="text"]:focus {
  outline-color: #4b2373 !important;
}

textarea:focus {
  outline-color: #4b2373 !important;
}

.text-pl10 {
  padding-left: 10px;
}

.textarea-pt10 {
  padding-top: 10px;
}

.btn {
  background-color: #4b2373;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.note-height {
  height: 130px;
}

.padding-l5 {
  padding-left: 5px;
}

.padding-r12 {
  padding-right: 12px;
}

.list-none {
  list-style: none;
  padding: 0;
}

.align-center {
  align-items: center;
}

.nav-bar {
  list-style-type: none;
  padding-left: 0;
}

.nav-inline {
  display: inline-block;
}

.margin-l20 {
  margin-left: 20px;
}

.padding-l0 {
  padding-left: 0;
}

.nav-nounderline-white {
  text-decoration: none;
  color: white;
}

.justify-between {
  justify-content: space-between;
}

.text-align {
  text-align: center;
}

button:hover,
a:hover {
  cursor: pointer;
}

.nav-button {
  display: inline-block;
  text-align: center;
  padding: 2px;
}

.line-height2 {
  line-height: 0.8;
}

.justify-between-align-center {
  justify-content: space-between;
  align-items: center;
}

.color-purple {
  color: #4b2373;
}
